.bundle/
log/*.log
rdoc/
pkg/
spec/dummy_apps/*/db/*.sqlite3
spec/dummy_apps/*/db/*.sqlite3-journal
spec/dummy_apps/*/log/*.log
spec/dummy_apps/*/tmp/
spec/dummy_apps/*/.sass-cache
vendor/
Gemfile.lock
